.waypoint {
    background: white;
    width: 22.5rem;
    margin: 1.5rem;
}

.x-close {
    float: right;
    padding: 0.5rem;
    font-size: small;
    cursor: pointer;
}

.waypoint-data {
    padding: 1.7rem;
    cursor: pointer;
}

@media only screen and (max-width : 767px) {

    .waypoint {
        margin: 5vw;
        width: 90vw;
    }

}